<?xml version="1.0"?>
<system>
  <ID>1</ID>
  <_ACTIV>1</_ACTIV>
  <_VERSION>1.0.0</_VERSION>
  <_APPLICATION_NAME>Delivary Network</_APPLICATION_NAME>
  <_APPLICATION_PATH_MOBILE>Google Play</_APPLICATION_PATH_MOBILE>
  <_SERVER_CURRENT_PATH>/www/Interface.php</_SERVER_CURRENT_PATH>
  <_POWER_BY>Delivary Network</_POWER_BY>
  <_SERVER_MAIL>ABCD@ABCD.com</_SERVER_MAIL>
  <_SERVER_PHONE>00000000000</_SERVER_PHONE>
  <_STREAMING_DATA_METHOD>1</_STREAMING_DATA_METHOD>
  <_INCRIMENT_PRICE_AFTER>10</_INCRIMENT_PRICE_AFTER>
  <_INCRIMENT_PRICE>1</_INCRIMENT_PRICE>
  <_LOG_SYSTEM>1</_LOG_SYSTEM>
  <_CAN_GET_DATA_FROM_BROWSER>1</_CAN_GET_DATA_FROM_BROWSER>
  <_IS_UPDATE>0</_IS_UPDATE>
  <_IS_ONLINE_SERVER>1</_IS_ONLINE_SERVER>
  <_SYSTEM_USER_ID>0</_SYSTEM_USER_ID>
  <_ENCRIPTION_BUFFER>0</_ENCRIPTION_BUFFER>
  <_POINT_PRICE>0.14</_POINT_PRICE>
  <_LIKE_TO_POINT>50</_LIKE_TO_POINT>
  <_NORMAL_SCORE>0</_NORMAL_SCORE>
  <_VIP_SCORE>50</_VIP_SCORE>
  <_MINIMAM_SEND_TO_STOCK>1</_MINIMAM_SEND_TO_STOCK>
  <_MAXIMAM_SEND_TO_STOCK>1000000</_MAXIMAM_SEND_TO_STOCK>
  <_SHOW_UNLIKE>1</_SHOW_UNLIKE>
  <_SHOW_LIKE>1</_SHOW_LIKE>
  <_SHOW_TOP_IN_GLOBEL>0</_SHOW_TOP_IN_GLOBEL>
  <_SHOW_TOP_IN_ZONE>1</_SHOW_TOP_IN_ZONE>
  <_SHOW_STOCK_IN_USERS_LIST>0</_SHOW_STOCK_IN_USERS_LIST>
  <_SHOW_POINTS_IN_USER_LIST>0</_SHOW_POINTS_IN_USER_LIST>
  <_LIMITED_FOR_NETWORK>192.168.0.</_LIMITED_FOR_NETWORK>
  <_SWITCH_MAIL>0</_SWITCH_MAIL>
  <_SWITCH_SMS>1</_SWITCH_SMS>
  <_SMS_API_URL></_SMS_API_URL>
  <_SMS_AUTH_KEY></_SMS_AUTH_KEY>
  <_SMS_SENDER_ID>101010</_SMS_SENDER_ID>
  <_SMS_ROUTE>Delivary Network</_SMS_ROUTE>
  <_SMS_RESPONSE_TYPE>json</_SMS_RESPONSE_TYPE>
  <_VIRESION_SERVICE>1</_VIRESION_SERVICE>
  <_VIRESIONURL_SERVICE>NULL</_VIRESIONURL_SERVICE>
  <_VIRESION_DELIVARY>1</_VIRESION_DELIVARY>
  <_VIRESIONURL_DELIVARY>NULL</_VIRESIONURL_DELIVARY>
  <_DATE_TIME></_DATE_TIME>
</system>
